
@import url(//fonts.googleapis.com/css?family=Open+Sans);

body{
    margin: 0px;
    background-color: #C4D4A6;
    scrollbar-width: none;
}



div{
    font-family: 'Open Sans', sans-serif;
}

.green-text{
    color:#2E8F14;
    text-decoration: none;
    font-weight: 600;
}


.main-div{
    background-color: #C4D4A6;
    padding-right: 0;
    padding-left: 0;
    min-height: 76vh;
}

.emergency-main-div{
    background-color: #C4D4A6;
}

.header-flex{
    background-color: #1f4116;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    padding-inline:10%;
}

.header-a{
    margin-inline: 1em;
    color: #C3E18A;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.back-a{
    text-decoration: none;
    color: black;
}
.flex-left{
    display: flex;
    justify-content: flex-start;
}

.flex-right{
    display: flex;
    justify-content: flex-end;
}
.flex-center{
    display: flex;
    justify-content: center;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.main-text-1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.emerg-main-text-1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.main-text-1-button{
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.emerg-text-1-button{
    display: flex;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.lower-main-text{
    display: flex;
    justify-content: center;
    text-align: center;
}

.main-text-2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}



.check-btn{
    background-color: #87BC21;
    border-radius: 20px;
    width: 20%;
    padding: 0.4%;
    border: 0px;
    font-size: 14px;

}

.block-btn{
    background-color: #87BC21;
    border-radius: 20px;
    width: 20%;
    padding: 0.4%;
    border: 0px;
    font-size: 14px;
    margin: 3%;
}

.block-btn:hover{
    background-color: #9AD230;
}

.block-btn:active{
    background-color: #6A9419;
}


.check-btn:hover{
    background-color: #9AD230;
}

.check-btn:active{
    background-color: #6A9419;
}


.all-btn{
    background-color: #87BC21;
    border-radius: 20px;
    width: 20%;
    padding: 0.4%;
    border: 0px;
    font-size: 14px;
}

.all-btn:hover{
    background-color: #9AD230;
}

.all-btn:active{
    background-color: #6A9419;
}


.grid-container{
    display: grid;
    justify-content: center;
}

.feedback-grid{
    display: grid;
    justify-content: center;
}

.feed-1{
    grid-row: 1;
    grid-column: 1;
    justify-content: left;
    font-size: 32px;
}

.feed-2{
    grid-row: 1;
    grid-column: 2;
    justify-content: left;
}
.feed-3{
    grid-row: 2;
    grid-column: 1;
    justify-content: left;
    font-size: 32px;
}
.feed-4{
    grid-row: 2;
    grid-column: 2;
    justify-content: left;
}

.feed-input{
    border-radius: 15px;
    border-color: #8CAA52;
    background: none;
    border-width: 1px;
    color: #8CAA52;
    font-size: 24px;
}

.emergency-grid-container{
    display: grid;
    justify-content: center;
}

.item{
    font-family: 'Open Sans', sans-serif;
}

.item-1{
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
}

.item-2{
    grid-row: 1;
    grid-column: 2;
    line-height: 10px;
    display: grid;
    align-items: center;
}

.item-3{
    grid-row: 2;
    grid-column: 1;
    line-height: 10px;
    display: grid;
    align-items: center;
}

.item-4{
    grid-row: 2;
    grid-column: 2;
    line-height: 10px;
}
.item-5{
    grid-row: 3;
    grid-column: 1;
    line-height: 10px;
}

.item-6{
    grid-row: 3;
    grid-column: 2;
    line-height: 10px;
    display: grid;
    align-items: center;
}

.emerg-grid-item-1{
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
}

.emerg-grid-item-2{
    grid-row: 1;
    grid-column: 2;
    justify-content: center;
}

.emerg-grid-item-3{
    grid-row: 2;
    grid-column: span 2;
    justify-content: center;
    margin-top: 1%;
}

.card-flex{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-inline: 27%;
}

.card-btn{
    background-image: url("../img/card1.svg");
    width: 325px;
    height: 233px;
    border-radius: 35px;
    border: 0px;
}

.card-btn:hover{
    background-image: url("../img/card2.svg");
}
.card-btn:active{
    background-image: url("../img/card3.svg");
}

.footer{
    background-color: #1f4116;
    display: flex;
    justify-content: flex-start;
    padding: 1%;
    border: 0px;
    padding-inline:10%;
}

.footer-info{
    margin-left: auto;
    margin-right: 3%;
    color: #C3E18A;
    font-size: 12px;
}
.footer-logo{
    width: 440px;
    height: 65px;
}
.email{
    text-decoration: underline;
    color: #C3E18A;
    font-size: 20px;
    font-weight: 600;
}

.footer-phone{
    text-decoration: none;
    color: #C3E18A;
    font-size: 20px;
    font-weight: 600;
}

.form-group{
    display: grid;
    justify-content: center;
    font-size: 32px;
    column-gap: 3%;
    row-gap: 10%;
}

.form-check-div-input-1{
    grid-column: 2;
    grid-row: 1;
}

.form-check-div-label-1{
    grid-column: 1;
    grid-row: 1;
    align-content: end;
}
.form-check-div-input-2{
    grid-column: 2;
    grid-row: 2;
}

.form-check-div-label-2{
    grid-column: 1;
    grid-row: 2;
    align-content: end;
}
.form-check-div-input-3{
    grid-column: 2;
    grid-row: 3;
}

.form-check-div-label-3{
    grid-column: 1;
    grid-row: 3;
    align-content: end;
}

.btn-primary{
    justify-self: center;
}
